<h1>Create a new Owner</h1>

<form action="/pets" method="POST">
  <label>Pet Name:</label>

  <br>

<p> Select an exisiting owner or create a new one below </p>

  <h3>Existing Owners</h3>
  <% Owner.all.each do |owner| %>
    <input type="radio" name="pet[owner_id]" id="<%= owner.id %>" value="<%= owner.id %>"><%= owner.name %><br>
  <% end %>
  <br>

  <input type="submit" value="Create Owner">
</form>
